:root {
  --text-color: white;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Alkatra", montserrat, sans-serif;
}

body {
  background-image: url("https://wallpaperaccess.com/full/1579893.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow: hidden;
  padding-bottom: 20px;
}

main {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
main > .mainInformation {
  display: flex;
  flex-direction: row;
  height: 40%;
  width: 95%;
}
main > .mainInformation > * {
  flex: 1;
  color: var(--text-color);
}
main > .mainInformation .leftClassMI #weather_description {
  font-size: 3em;
  margin-bottom: 2%;
}
main > .mainInformation .leftClassMI #weather_city {
  font-size: 2.1em;
  margin-bottom: 2%;
}
main > .mainInformation .leftClassMI .timeBox {
  margin-bottom: 6%;
}
main > .mainInformation .leftClassMI .timeBox * {
  font-size: 1.4em;
}
main > .mainInformation .leftClassMI #weather_temp {
  margin-bottom: 0;
  font-size: 3.8em;
}
main > .mainInformation .leftClassMI #weather_dailyImg {
  width: 20%;
}
main > .mainInformation .middleClassMI {
  display: flex;
  justify-content: center;
}
main > .mainInformation .middleClassMI form {
  margin-top: 20px;
  width: 50%;
  border-bottom: 1px solid whitesmoke;
  margin-bottom: auto;
}
main > .mainInformation .middleClassMI form div {
  display: flex;
  justify-content: space-between;
  height: 30px;
  padding-bottom: 2px;
}
main > .mainInformation .middleClassMI form div input {
  width: 90%;
  border: 0;
  background-color: transparent;
  color: white;
  font-size: 1.1em;
  letter-spacing: 1px;
}
main > .mainInformation .middleClassMI form div input::placeholder {
  color: white;
}
main > .mainInformation .middleClassMI form div button {
  background-color: transparent;
  border: none;
}
main > .mainInformation .rightClassMI {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
main > .mainInformation .rightClassMI > div {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main > .mainInformation .rightClassMI > div > div {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
main > .mainInformation .rightClassMI > div > div * p {
  font-size: 1.2em;
}
main > .mainInformation .rightClassMI > div > div * h1 {
  font-size: 1.6em;
}
main > .mainInformation .rightClassMI > div > div > div:first-child {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main > .mainInformation .rightClassMI > div > div > div:nth-child(2) {
  width: 70%;
}
main .timeInformation {
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 15%;
}
main .timeInformation #timeFormat {
  height: 50px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-left: 2%;
}
main .timeInformation #timeFormat > * {
  border: 2px solid white;
  background-color: transparent;
  transition: 0.4s;
}
main .timeInformation #timeFormat button {
  color: white;
  font-size: 1.2em;
  width: 15%;
  cursor: pointer;
}
main .timeInformation #timeFormat > div {
  border: 2px solid white;
  width: 10%;
  background-color: transparent;
  display: none;
  justify-content: center;
  align-items: center;
}
main .timeInformation #timeFormat > div .fa-solid {
  color: white;
}
main .timeInformation #timeFormat > div .fa-solid:hover {
  cursor: pointer;
  color: black;
  transition: 0.4s;
}
main .timeInformation #timeFormat > div .spanContainer {
  border: none;
  width: 45%;
  display: flex;
  justify-content: center;
  gap: 5%;
}
main .timeInformation #timeFormat > div .spanContainer span {
  background-color: white;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
main .timeInformation #timeFormat > div .spanContainer span:hover {
  background-color: black;
}
main .timeInformation #timeFormat *:hover {
  border-color: black;
}
main .timeInformation .container * {
  color: white;
  display: flex;
  gap: 20px;
  flex: 1;
}
main .timeInformation .container .dayContainer {
  display: none;
}
main .timeInformation .container .dayContainer > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}
main .timeInformation .container .dayContainer > * > h5 {
  font-size: 1.7em;
}
main .timeInformation .container .dayContainer > * > h3 {
  font-size: 2.8em;
}
main .timeInformation .container .dayContainer > * > p {
  font-size: 1em;
}
main .timeInformation .container .dayContainer > * > img {
  flex: 1;
}
main .timeInformation .container .hourContainer > * > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
}
main .timeInformation .container .hourContainer > * > * > h5 {
  font-size: 1.7em;
}
main .timeInformation .container .hourContainer > * > * > h3 {
  font-size: 2.8em;
}
main .timeInformation .container .hourContainer > * > * > p {
  font-size: 1em;
}
main .timeInformation .container .hourContainer > * > * > img {
  flex: 1;
}

/*# sourceMappingURL=style.css.map */
